body {
  background-image: url('../img/BACKGROUND.jpeg');
  background-size: cover;
  font-family: 'Arial', sans-serif;
  color: white;
}

form {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  margin: auto;
}

label {
  color:#FFFFFF;
}
