body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../img/BACKGROUND.jpeg');
    color: #ffffff; /* Texto */
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    padding: 20px;
    background-color: #4b0082; 
    color: #ffffff;
    text-align: center;
    position: relative;
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #8a2be2; 
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: #5d1688; 
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #3b0047d7; 
    border-radius: 10px;
}

.contact-info, .contact-form {
    margin-bottom: 20px;
}

.contact-info h2, .contact-form h2 {
    color: #ffffff; 
    margin-bottom: 10px;
}

.contact-info p {
    font-size: 16px;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
    color: #dcdcdc;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #8a2be2; 
    border-radius: 5px;
    background-color: #4b0082; 
    color: #ffffff; 
}

.contact-form button {
    padding: 10px 20px;
    background-color: #8a2be2; 
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #5d1688; 
}

#confirmationMessage {
    color: #00ff00; /* Texto de confirmação*/
    font-size: 16px;
}